/PlotlyDemo/bin/Debug/netcoreapp3.1/appsettings.Development.json
/PlotlyDemo/bin/Debug/netcoreapp3.1/appsettings.json
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.deps.json
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.dll
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.exe
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.pdb
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.runtimeconfig.dev.json
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.runtimeconfig.json
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.Views.dll
/PlotlyDemo/bin/Debug/netcoreapp3.1/PlotlyDemo.Views.pdb
/PlotlyDemo/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/PlotlyDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.AssemblyInfo.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.AssemblyInfoInputs.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.assets.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.csproj.CopyComplete
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.csproj.CoreCompileInputs.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.csproj.FileListAbsolute.txt
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.csprojAssemblyReference.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.dll
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.exe
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.genruntimeconfig.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.MvcApplicationPartsAssemblyInfo.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.pdb
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.RazorAssemblyInfo.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.RazorAssemblyInfo.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.RazorComponent.input.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.RazorCoreGenerate.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.RazorTargetAssemblyInfo.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.RazorTargetAssemblyInfo.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.TagHelpers.input.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.TagHelpers.output.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.Views.dll
/PlotlyDemo/obj/Debug/netcoreapp3.1/PlotlyDemo.Views.pdb
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/_Imports.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/App.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Pages/_Host.cshtml.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Pages/Counter.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Pages/Error.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Pages/FetchData.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Pages/Index.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Shared/MainLayout.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/Razor/Shared/SurveyPrompt.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/PlotlyDemo.dll
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/PlotlyDemo.pdb
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
/PlotlyDemo/obj/Debug/netcoreapp3.1/staticwebassets/PlotlyDemo.StaticWebAssets.Manifest.cache
/PlotlyDemo/obj/Debug/netcoreapp3.1/staticwebassets/PlotlyDemo.StaticWebAssets.xml
/PlotlyDemo/obj/PlotlyDemo.csproj.nuget.dgspec.json
/PlotlyDemo/obj/PlotlyDemo.csproj.nuget.g.props
/PlotlyDemo/obj/PlotlyDemo.csproj.nuget.g.targets
/PlotlyDemo/obj/project.assets.json
/PlotlyDemo/obj/project.nuget.cache
/.vs/PlotlyDemo/DesignTimeBuild/.dtbcache.v2
/.vs/PlotlyDemo/v16/.suo
/.vs/PlotlyDemo/v16/.suo
