@page "/"
@inject IJSRuntime JSRuntime;

<h1>Hello, world!</h1>

Welcome to your new app.

<div id="tester" style="width:600px;height:250px;"></div>
<button @onclick="Show"> click </button>
<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private async Task Show()
    {
        var data1 = new List<int>() { 1, 2, 3, 4, 5 };
        var data2 = new List<int>() { 1, 2, 4, 8, 16 };
        await JSRuntime.InvokeVoidAsync("plottester", data1, data2);
    }
}